.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.5); // semi-transparent dark background
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: #fff; 
  font-size: 1.5rem;
  text-align: center;
}

.typingInput {
  width: 80%;
  min-width: 400px;
  border-radius: 5px;
  border: 0.5px solid black;
  padding: 20px;
  cursor: pointer;
  font-size: 30px;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  outline: none;
}

.correctChar {
  color: var(--theme-text-less-important-color);
}

.wrongChar {
  background-color: red;
  color: white;
}

.word {
  display: inline;
  margin-bottom: 10px;
  
  color: var(--theme-text-color);
}
.charSpan{
  margin-left: 2px;
}
.cursor {
  display: inline; 
  border-left: 2px solid var(--theme-text-color);;
  height: 1em;
  margin-left: 0px!important;
  animation: blink 1s step-end infinite;
}

/* Blinking Animation */
@keyframes blink {
  0%, 100% {
    border-left-color: var(--theme-text-color);
  }
  50% {
    border-left-color: transparent;
  }
}


@media (max-width: 768px) {
  // .typingInput {
  //   width: 90%;
  // }
  
}