.typingContainer {
  background-color: var(--theme-background);
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  height: max-content;
}

.gameInfo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.typingArea{
  display: flex;
  flex-direction: column;
  align-items: center;
}