.nearbyRestaurantsContainer{
  background-color: var(--theme-background);
  min-height: calc(100vh - var(--navbar-height));
  padding: 20px;
}
.title{
  color: var(--theme-text-color);
}
.errorMessage{
  color: red;
}
.restaurantList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 20px;
  }
  