
.ticTacToe {
    background-color: var(--theme-background);
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.title{
  color: var(--theme-text-color);
}
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    font-size: var(--font-size-llarge);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--theme-text-color);
    appearance: none;
    -webkit-appearance: none;
  }
  
  .result {
    margin-top: 20px;
    text-align: center;
    color: var(--theme-text-color);
  }
  