// Define variables for reuse
$padding: 20px;
$border-color: #ccc;
$margin-bottom: 30px;
$mobile-breakpoint: 768px; // Define a breakpoint for mobile devices

.rowComponent {
  display: flex;
  align-items: center;
  margin-bottom: $margin-bottom;

  .textSection {
    flex: 1;
    padding: $padding;

    h2 {
      font-size: 1.5rem;
      color: var(--theme-text-color);
    }

    p {
      font-size: 1rem;
      color: var(--theme-text-less-important-color);
    }
  }

  .imageSection {
    flex: 1;
    padding: $padding;
    display: flex;
    justify-content: center;

    .image {
      max-width: 100%;
      height: auto; // Make height responsive
      max-height: 300px;
      display: block;
      border: 1px solid $border-color;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  // Media query for mobile devices
  @media (max-width: $mobile-breakpoint) {
    flex-direction: column; // Stack vertically

    &.reverse {
      flex-direction: column; // Override reverse on mobile
    }

    .textSection {
      padding: $padding 0; // Adjust padding if necessary
    }

    .imageSection {
      padding: $padding 0;
      margin-top: $padding; // Add spacing between text and image
    }

    .image {
      max-width: 100%;
      height: auto; // Ensure image scales properly
      max-height: none; // Remove max-height restriction
    }
  }
}
