// Define styles specific to StepsGuide component


.aboutProjectContainer {
  background-color: var(--theme-background);
}
.projectContainer {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 20px;
}
  