// Define styles specific to StepsGuide component


.aboutEducationContainer {
    background-color: var(--theme-background);
  }
.educationContainer {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 20px;
  }
  