.footerContainer{
    background-color: var(--theme-navbar-background);
}
.footerContentContainer{
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: var(--theme-text-color);
}

.externalLink {
    color: var(--theme-link-color);
    text-decoration: none;
  
    &:hover {
      color: var(--theme-link-hover-color);
      text-decoration: underline;
    }
  }