

:root {
    --theme-background: #eeeeee; /* Light mode background color */
    --theme-background-darker: #e9e9e9; /* Light mode background color */
    --theme-background-lighter: #ffffff; /* Light mode background color */
    --theme-text-color: #000000; /* Light mode text color */
    --theme-text-less-important-color: #555;
    --theme-link-color: #4c4c4c;
    --theme-link-hover-color: #797979;
    --font-family-base: 'Calibri', 'Helvetica Neue', sans-serif;
    --font-size-title: 48px;
    --font-size-llarge: 30px;
    --font-size-large: 24px;
    --font-size-base: 20px;
    --font-size-small: 16px;
    --navbar-height: 80px;
    --navbar-inner-height: 50px;

    --theme-navbar-background: #f8f9fa; /* Light mode navbar background */
    --theme-navbar-text-color: #212529; /* Light mode navbar text color */

    /* Light mode button colors */
    --button-background: #2e2e2e; /* Green button background */
    --button-text-color: #ffffff; /* White text on buttons */
    --button-hover-background: #0c0c0c; /* Slightly darker green on hover */
    --button-active-background: #000000; /* Slightly darker green on hover */
    --button-border: none; /* No border for button */
    --button-disabled-background: #cccccc; /* Slightly darker green on hover */
    --button-disabled-text-color: #666666; /* Slightly darker green on hover */
    
    --container-max-width: 1200px; /* Slightly darker green on hover */
    --article-container-max-width: 800px; /* Slightly darker green on hover */

    --border-shadow-color: rgba(0, 0, 0, 0.1);
    --border-hover-shadow-color: rgba(0, 0, 0, 0.2);

    --line-height-base: 1em;
    --line-height-larger: 1.2em;

    --article-title-color: #000000;
    --article-subtitle-color: #555;
    --article-text-color: #000000;
}

body.dark {
    --theme-background: #282828; /* Dark mode background color */
    --theme-background-darker: #262626; /* Light mode background color */
    --theme-background-lighter: #333333; /* Light mode background color */
    --theme-text-color: #e0e0e0; /* Dark mode text color */
    --theme-text-less-important-color: #a1a1a1;
    --theme-link-color: #a3a3a3;
    --theme-link-hover-color: #878787;

    --theme-navbar-background: #000000; /* Dark mode navbar background */
    --theme-navbar-text-color: #ffffff; /* Dark mode navbar text color */

    /* Dark mode button colors */
    --button-background: #333333; /* Dark button background */
    --button-text-color: #ffffff; /* White text on dark button */
    --button-hover-background: #555555; /* Lighter gray on hover */
    --button-border: 1px solid #777777; /* Subtle border for dark buttons */

    --border-shadow-color: rgba(0, 0, 0, 0.7);
    --border-hover-shadow-color: rgba(0, 0, 0, 0.8);

    --article-title-color: #e0e0e0;
    --article-subtitle-color: #a1a1a1;
    --article-text-color: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}