.tabsContainer {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 8px;
  }
  
  .tabButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    margin: 0 8px;
    font-size: var(--font-size-llarge);
    color: var(--theme-text-color);
    transition: color 0.3s;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: var(--font-size-large);
    }
    @media (max-width: 480px) {
      padding: 10px 5px;
      font-size: var(--font-size-base);
    }

    &:hover {
      color: #555;
    }
  }
  
  .activeTab {
    color: var(--theme-text-color);
  }
  
  .highlightBar {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: var(--theme-text-color);
    transition: transform 0.3s ease, width 0.3s ease;
  }
  