.nbaContainer {
    background-color: var(--theme-background);
    min-height: calc(100vh - var(--navbar-height) - 40px);
    padding: 20px;
  }
  
  /* Make the columns side by side */
  .columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
 
  

  .standingsColumn {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    /* Set the height or max-height, then enable scroll */
    max-height: calc(100vh - var(--navbar-height) - 40px);
    overflow-y: auto; 

    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE and Edge */


  }

  .gamesColumn{
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    /* Set the height or max-height, then enable scroll */
    max-height: calc(100vh - var(--navbar-height) - 40px);
    overflow-y: auto; 

    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE and Edge */

    .loadGames {
        cursor: pointer;
        color: var(--theme-text-color);
        font-size: var(--font-size-small);
        text-align: center;
        text-decoration: underline;
        margin: 10px 0;
        transition: color 0.2s ease-in-out;
    
        &:hover {
          color: var(--hover-color);
        }
      }
  }

  /* Hide scrollbar for Chrome, Safari, and Opera */
.gamesColumn::-webkit-scrollbar,
.standingsColumn::-webkit-scrollbar {
  display: none;
}
  
  .title {
    color: var(--theme-text-color);
  }
  
  .errorMessage {
    color: red;
  }
  

  .conferenceButtons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
  }
  
  .conferenceButton {
    width: 100%;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-base);
    cursor: pointer;
    color: var(--theme-text-color);
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border-bottom 0.2s;
  
    &:hover {
        color: var(--theme-text-color);
    }
  }
  
  .active {
    color: var(--theme-text-color);
    border-bottom: 2px solid var(--theme-text-color);;
  }


  @media (max-width: 550px) {
    .nbaContainer {
      padding: 5px;
    }
    
  }